## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
# Your code here

sample_list_1 = random.sample(range(0,100), k=80)
sample_list_1.sort()
print(sample_list_1)

[0, 1, 2, 3, 4, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}
80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [45]:
# Your code here

sample_list_2 = []

for i in range(0,80):
    x = random.randint(1,100)
    sample_list_2.append(x)

print(sample_list_2)
print(len(sample_list_2))
print(type(sample_list_2))

[92, 12, 74, 41, 62, 3, 38, 85, 50, 10, 11, 43, 11, 24, 61, 75, 47, 64, 11, 86, 39, 64, 9, 51, 21, 38, 96, 29, 54, 47, 69, 67, 28, 59, 49, 99, 39, 90, 45, 78, 69, 41, 39, 76, 41, 92, 94, 64, 78, 22, 74, 83, 60, 66, 11, 93, 63, 89, 24, 69, 54, 7, 81, 3, 47, 58, 10, 43, 19, 46, 74, 4, 40, 22, 52, 67, 21, 31, 17, 62]
80
<class 'list'>

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here

set2 = set(sample_list_2)
print(set2)
print(len(set2))
print(type(set2))

# No, length is not the same because when converting list to a set the repeted values are erased.

{3, 4, 7, 9, 10, 11, 12, 17, 19, 21, 22, 24, 28, 29, 31, 38, 39, 40, 41, 43, 45, 46, 47, 49, 50, 51, 52, 54, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 74, 75, 76, 78, 81, 83, 85, 86, 89, 90, 92, 93, 94, 96, 99}
53
<class 'set'>

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [85]:
# Your code here

list3 = []

for i in set1:
    if i in set2:
        continue
    else:
        list3.append(i)
        
set3 = set(list3)
print(set3)

{0, 1, 2, 5, 13, 14, 15, 16, 18, 20, 25, 27, 30, 32, 34, 35, 36, 37, 42, 48, 53, 55, 57, 65, 68, 70, 71, 72, 73, 77, 79, 80, 82, 88, 95, 97, 98}
True

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [68]:
# Your code here

list4 = []

for i in set2:
    if i in set1:
        continue
    else:
        list4.append(i)
        
set4 = set(list4)
print(set4)

{3, 4, 7, 9, 10, 11, 12, 17, 19, 21, 22, 24, 28, 29, 31, 38, 39, 40, 41, 43, 45, 46, 47, 49, 50, 51, 52, 54, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 74, 75, 76, 78, 81, 83, 85, 86, 89, 90, 92, 93, 94, 96, 99}
{0, 1, 2, 3, 4, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}
{66, 67, 99, 38, 74, 11, 24, 60, 61, 62}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [89]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{3, 4, 7, 9, 10, 12, 17, 19, 21, 22, 28, 29, 31, 39, 40, 41, 43, 45, 46, 47, 49, 50, 51, 52, 54, 58, 59, 63, 64, 69, 75, 76, 78, 81, 83, 85, 86, 89, 90, 92, 93, 94, 96}

#### 8 - Create an empty set called `set6`.

In [71]:
# Your code here

set6 = set()
print(set6)
print(type(set6))

set()
<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [79]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6), 
print(len(set6))

{3, 4, 7, 9, 10, 11, 12, 17, 19, 21, 22, 24, 28, 29, 31, 38, 39, 40, 41, 43, 45, 46, 47, 49, 50, 51, 52, 54, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 74, 75, 76, 78, 81, 83, 85, 86, 89, 90, 92, 93, 94, 96, 99}
53

#### 10 - Check if `set1` and `set6` are equal.

In [83]:
# Your code here

if set1 == set6:
    print("Set1 equal Set6")
else:
    print("Set1 different Set6")

Set1 different Set6

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [91]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [96]:
# Your code here

set7a = set3.union(set4.union(set5))
set7 = set7a.union(set1.union(set2))
print(set7)

{0, 1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [103]:
# Your code here

print(set1)
set1.pop()
print(set1)

{0, 1, 2, 3, 4, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}
{1, 2, 3, 4, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [112]:
# Your code here

final_list = []
set1 = {1, 2, 3, 4, 5, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98}
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in set1:
    if number in list_to_remove:
        print(number, "borrar")
    else:
        final_list.append(number)
        
set1 = set(final_list)
print(set1)

1 borrar
9 borrar
19 borrar
21 borrar
29 borrar
31 borrar
39 borrar
41 borrar
49 borrar
51 borrar
59 borrar
69 borrar
71 borrar
79 borrar
81 borrar
89 borrar
{2, 3, 4, 5, 7, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 25, 27, 28, 30, 32, 34, 35, 36, 37, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 63, 64, 65, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [113]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [115]:
# Your code here

father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [117]:
# Your code here

Mattia_set = set(Carlos_set.symmetric_difference(Jo_set))
print(Mattia_set)

set()
{'cucumber', 'water', 'watermelon', 'milk', 'gums', 'cherries', 'toilet paper', 'juice', 'yogurt', 'flour', 'sugar'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [120]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['onions', 'tomatoes', 'vinegar', 'mushrooms', 'gums', 'cucumber', 'mushrooms', 'juice', 'chocolate', 'cherries']

In [124]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'cucumber', 'tomatoes', 'vinegar', 'gums', 'chocolate', 'mushrooms', 'cherries', 'juice', 'onions'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [142]:
# Your code here

def Remove_toiler_paper(set):
    set.discard("toilet paper")
    return(set)
    
Remove_toiler_paper(father_set)
Remove_toiler_paper(mother_set)
Remove_toiler_paper(Jo_set)
Remove_toiler_paper(Carlos_set)
Remove_toiler_paper(Mattia_set)
print(father_set)

{'yogurt', 'flour', 'onions'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [134]:
# Your code here

full_items_set = father_set.union(mother_set.union(Jo_set.union(Carlos_set.union(Mattia_set))))
print(full_items_set)

{'cucumber', 'water', 'tomatoes', 'blueberries', 'watermelon', 'vinegar', 'gums', 'milk', 'chocolate', 'garlic', 'mushrooms', 'sugar', 'cherries', 'juice', 'yogurt', 'flour', 'onions'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [10]:
# Your code here

father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']
father_set2 = set(father_list)
print("father_set2: ", father_set2)

def Remove_toiler_paper(set):
    set.discard("toilet paper")
    return(set)
    
Remove_toiler_paper(father_set2)

print("father_set2 without toilet paper: ", father_set2)
for i in range(0,2):
    father_set2.pop()

print("father_set2 final: ", father_set2)

father_set2:  {'flour', 'toilet paper', 'watermelon', 'yogurt', 'gums', 'garlic', 'cucumber', 'onions'}
father_set2 without toilet paper:  {'flour', 'watermelon', 'yogurt', 'gums', 'garlic', 'cucumber', 'onions'}
father_set2 final:  {'yogurt', 'gums', 'garlic', 'cucumber', 'onions'}